body {
  font-size: 150%;
  color: #333333;
  font-family: 'Open Sans', sans-serif;
  margin: 0em;
}

a:link {color: #cccccc; text-decoration: none; }
a:active {color: #cccccc; text-decoration: none; }
a:visited {color: #cccccc; text-decoration: none; }
a:hover {color: #ffffff; text-decoration: none; }

.header {
  background-color: #222222;
  color: #cccccc;
  padding: 0.5em;
}

.title {
  font-weight: bold;
}

.menu {
  float: right;  
  font-size: 80%;
}

.canvas {
  background-color: #f8f8f8;
  width: 100%;
  height: 1000px;
}

.card {
  background-color: #fcf0ad;
  padding: 0.5em;
  box-shadow: 2px 2px 2px #666;
}

.card-input-label {
  font-size: 70%;
  padding-bottom: 0.6em;
}
.card-input-field {
  font-size: 100%;
}

.trashcan {
  font-size: 70%;
  width: 5.5em;
  height: 5.5em;
  color: #555555;
  background-color: #e0e0e0;
  float: right;
  margin: 10px;
  text-align: center;
  padding-top: 1em;
}

.welcome {
  font-size: 70%;
  color: #555555;
  float: left;
  margin: 10px;
}

.loading {
  padding-top: 10em;
  text-align: center;
  color: #555555;
}

.ui-widget-overlay {
  background: #aaa;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
}
.ui-dialog {
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  background: #fff;
  padding: 1em;
}
.ui-dialog-titlebar {
  display: none;
}
.ui-dialog-buttonpane {
  text-align: right;
  font-size: 120%;
}
.ui-button-text {
  font-size: 150%;
}
#name-entry {
  font-size: 100%;
  margin-bottom: 1.5em;
}
